.container {
    width: 2000px;
    margin: 0 auto;
    margin-top: 40px;
}

/* Модальное окно */

.popup-fade:before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 9999;
}

.popup {
	position: fixed;
	top: 20%;
	left: 50%;
	padding: 20px;
	width: 360px;
	margin-left: -200px;	
	background: #fff;
	border: 1px solid orange;
	border-radius: 4px; 
	z-index: 99999;
	opacity: 1;	
	font-family: 'Montserrat', sans-serif;
}
.popup-close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-family: 'Montserrat', sans-serif;
}

/*  */

div[class^=row] {
    margin-bottom: 5px;
}

div.header {
	display: block; 
	font-family: 'Montserrat', sans-serif;
}

div[class^=col] {
	background: #FFDEAD;
	border: 1px solid black;
	border-radius: 7px;
    height: 100px;
}

div.leftDiv {
	background-color: #BC8F8F;
	order: 1;
	font-family: 'Montserrat', sans-serif;
	line-height: 100px;
}

div.middleDiv {
    border: 1px dashed black;
	background-color: #DAA520;
	order: 2;
	line-height: 100px;
	font-family: 'Montserrat', sans-serif;
}

div.trans {
	opacity: 1;
	transform: translateX(0);
}

div.rightDiv {
	background-color: #A52A2A;
	order: 3;
	line-height: 100px;
	font-family: 'Montserrat', sans-serif;
}

button.btn {
    margin-top: 30px;
}

button.btn-warning:active {
	background-color: #A52A2A;
}